<h2 mat-dialog-title>Thông báo xác nhận</h2>
<mat-dialog-content class="mat-typography">
  Bạn có chắc chắn muốn thực hiện tác vụ này?
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="mat-raised-button" mat-dialog-close>Hủy bỏ</button>
  <button mat-button class="mat-raised-button mat-primary" [mat-dialog-close]="true" cdkFocusInitial>Thực hiện</button>
</mat-dialog-actions>
<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
