<form #form="ngForm">
  <h2 mat-dialog-title>{{_services.item.group_id>0?'Cập nhật':'Thêm mới'}}</h2>
  <mat-dialog-content class="mat-typography">
    <!-- class="mat-typography"-->
    <div class="form-group row">
      <!-- class="flex-columns"-->
      <mat-form-field class="col-md-8">
        <mat-label>Tên dịch vụ</mat-label>
        <input matInput placeholder="Nhập tên dịch vụ" name="title" #title="ngModel" [(ngModel)]="_services.item.title"
          required>
        <mat-error *ngIf="title.invalid">
          Vui lòng nhập tên dịch vụ
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>Icon</mat-label>
        <input matInput placeholder="Nhập icon" name="icons" #icons="ngModel" [(ngModel)]="_services.item.icons">
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field class="col-md-4">
        <mat-label>Vị trí</mat-label>
        <input matInput placeholder="Nhập vị trí" name="positions" #positions="ngModel" [(ngModel)]="_services.item.positions">
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>Thứ tự</mat-label>
        <input matInput placeholder="Nhập thứ tự" type="number" name="orders" #orders="ngModel" [(ngModel)]="_services.item.orders"
          required>
      </mat-form-field>
      <mat-slide-toggle class="col-md-4" color="primary" name="flag" #flag="ngModel" [(ngModel)]="_services.item.flag"
        checked="item.flag>0?true:false">
        Sử dụng
      </mat-slide-toggle>
    </div>
    <div class="form-group row">
      <mat-form-field class="col-md-12">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Input description" name="descriptions" #descriptions="ngModel" [(ngModel)]="_services.item.descriptions"></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button class="mat-raised-button" mat-dialog-close>Hủy bỏ</button>
    <button mat-button class="mat-raised-button mat-primary" [disabled]="form.invalid" cdkFocusInitial (click)="handleSubmit(form)">Thực hiện</button>
  </mat-dialog-actions>
</form>
