.file-upload {
  position: relative;
}

.file-upload-content {
  outline: 1px dashed #b1b1b1;
  background: #fefefe;
  color: #bbb;
  position: relative;
  cursor: pointer;
}

.file-upload-content:hover {
  /*background: #dfdfdf;  when mouse over to the drop zone, change color */
  color: #8d8d8d;
}

.file-upload [type="file"] {
  opacity: 0;
  /* invisible but it's there! */
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.file-upload p {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
}

.file-upload .fa {
  color: #007bff;
}

.file-upload label {
  /* position: absolute; */
  /* right: -8px; */
  /* top: -3px; */
}

.btn-upload {}

.btn-upload [type="file"] {
  display: none
}
