<div class="file-upload">
  <div *ngIf="!config.button; else buttonUpload" class="file-upload-content">
    <input type="file" id="file-upload" #fileUploadInput [multiple]="config.multiple===true?true:false" (change)="handleFilesChange($event)" />
    <p>
      Drag your file(s) here to begin<br> or click to browse
    </p>
  </div>
  <ng-template #buttonUpload>
    <div class="btn-upload">
      <input type="file" id="file-upload" #fileUploadInput [multiple]="config.multiple===true?true:false" (change)="handleFilesChange($event)" />
      <label for="file-upload" class="mat-icon-button mat-primary" [matTooltip]="config.button"><i class="material-icons">cloud_upload</i></label>
    </div>
  </ng-template>
</div>
