<form #form="ngForm">
  <h2 mat-dialog-title>{{_services.item.modules_id>0?'Cập nhật':'Thêm mới'}}</h2>
  <mat-dialog-content class="mat-typography">
    <!-- class="mat-typography"-->
    <div class="form-group row">
      <!-- class="flex-columns"-->
      <mat-form-field class="col-md-8">
        <mat-label>Tên module</mat-label>
        <input matInput placeholder="Tên module" name="name" #name="ngModel" [(ngModel)]="_services.item.name" required
          trim>
        <mat-error *ngIf="name.invalid">
          Vui lòng nhập tên module
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>Key</mat-label>
        <input matInput placeholder="Key" name="app_key" #app_key="ngModel" [(ngModel)]="_services.item.app_key"
          [disabled]="_services.item.modules_id?true:false" required trim>
        <mat-error *ngIf="app_key.invalid">
          Vui lòng nhập Key
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field class="col-md-8">
        <mat-label>Đường dẫn</mat-label>
        <input matInput placeholder="Nhập đường dẫn" name="url" #url="ngModel" [(ngModel)]="_services.item.url" trim>
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>Icon</mat-label>
        <input matInput placeholder="Nhập icon" name="icon" #icon="ngModel" [(ngModel)]="_services.item.icon" trim>
      </mat-form-field>
    </div>
    <div class="form-group row">
      <mat-form-field class="col-md-4">
        <mat-label>Vị trí</mat-label>
        <input matInput placeholder="Nhập vị trí" name="positions" #positions="ngModel" [(ngModel)]="_services.item.positions">
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>Thứ tự</mat-label>
        <input matInput placeholder="Nhập thứ tự" type="number" name="orders" #orders="ngModel" [(ngModel)]="_services.item.orders"
          required>
      </mat-form-field>
      <mat-slide-toggle class="col-md-4" color="primary" name="flag" #flag="ngModel" [(ngModel)]="_services.item.flag"
        checked="item.flag>0?true:false">
        Sử dụng
      </mat-slide-toggle>
    </div>
    <div class="form-group row">
      <mat-form-field class="col-md-12">
        <mat-label>Miêu tả</mat-label>
        <textarea matInput placeholder="Miêu tả" name="descs" #descs="ngModel" [(ngModel)]="_services.item.descs" trim></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button class="mat-raised-button" mat-dialog-close>Hủy bỏ</button>
    <button mat-button class="mat-raised-button mat-primary" [disabled]="form.invalid" cdkFocusInitial (click)="handleSubmit(form)">Thực
      hiện</button>
  </mat-dialog-actions>
</form>
